/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* DESIGN SYSTEM */


/* STYLING */
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* cross-axis is horizontal */
}

img {
    width: 20vw;
}